In [46]:
import pandas as pd

## Get data

In [47]:
df = pd.read_csv("DataSets/titanic.csv")

## Global analysis of the data set

In [48]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

## Global analysis individual columns

In [49]:
#numerical column
col = "fare"

In [50]:
maxSet = df.loc[df[col].idxmax()]
minSet = df.loc[df[col].idxmin()]

In [51]:
print("Lowest for the column {}:\n".format(col))
minSet

Lowest for the column fare:

survived       0
pclass         3
sex         male
age         36.0
sibsp          0
parch          0
fare         0.0
embarked       S
deck         NaN
Name: 179, dtype: object

In [52]:
print("Highest for the column {}:\n".format(col))
maxSet

Highest for the column fare:

survived           1
pclass             1
sex           female
age             35.0
sibsp              0
parch              0
fare        512.3292
embarked           C
deck             NaN
Name: 258, dtype: object

In [53]:
df[col].value_counts()

fare
8.0500     43
13.0000    42
7.8958     38
7.7500     34
26.0000    31
           ..
35.0000     1
28.5000     1
6.2375      1
14.0000     1
10.5167     1
Name: count, Length: 248, dtype: int64

In [54]:
# relative frequency
df[col].value_counts(normalize=True)

fare
8.0500     0.048260
13.0000    0.047138
7.8958     0.042649
7.7500     0.038159
26.0000    0.034792
             ...
35.0000    0.001122
28.5000    0.001122
6.2375     0.001122
14.0000    0.001122
10.5167    0.001122
Name: proportion, Length: 248, dtype: float64

In [55]:
colCopy = df[col].copy()
colCopy.head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: fare, dtype: float64

In [58]:
colCopy.sort_values(inplace=True)
colCopy

271      0.0000
815      0.0000
822      0.0000
481      0.0000
806      0.0000
         ...
27     263.0000
341    263.0000
258    512.3292
737    512.3292
679    512.3292
Name: fare, Length: 891, dtype: float64