In [51]:
import pandas as pd

In [52]:
titanic = pd.read_csv("DataSets/titanic.csv")

In [53]:
fare = titanic.fare.copy().sort_values(ascending=False)

In [54]:
print(fare)

258    512.3292
737    512.3292
679    512.3292
88     263.0000
27     263.0000
         ...
633      0.0000
413      0.0000
822      0.0000
732      0.0000
674      0.0000
Name: fare, Length: 891, dtype: float64

In [55]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [56]:
age = titanic.age

In [57]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [58]:
age.sort_values(ascending=False)

630    80.0
851    74.0
493    71.0
96     71.0
116    70.5
       ...
859     NaN
863     NaN
868     NaN
878     NaN
888     NaN
Name: age, Length: 891, dtype: float64

In [59]:
age.nlargest(n = 10)

630    80.0
851    74.0
96     71.0
493    71.0
116    70.5
672    70.0
745    70.0
33     66.0
54     65.0
280    65.0
Name: age, dtype: float64

In [60]:
age.sort_values(ascending=True).iloc[:3]

803    0.42
755    0.67
644    0.75
Name: age, dtype: float64

In [61]:
age.nsmallest(n = 10)

803    0.42
755    0.67
469    0.75
644    0.75
78     0.83
831    0.83
305    0.92
164    1.00
172    1.00
183    1.00
Name: age, dtype: float64

In [62]:
age.nsmallest(n = 10).index[0]

803

In [63]:
titanic["fare"].sort_values(ascending=False)[:10]

258    512.3292
737    512.3292
679    512.3292
88     263.0000
27     263.0000
341    263.0000
438    263.0000
311    262.3750
742    262.3750
118    247.5208
Name: fare, dtype: float64

In [65]:
maxAge = titanic.age.idxmax()
maxAge = titanic.age.idxmin()
maxAge

803

In [66]:
titanic.loc[titanic.age.idxmax()]

survived       1
pclass         1
sex         male
age         80.0
sibsp          0
parch          0
fare        30.0
embarked       S
deck           A
Name: 630, dtype: object

In [67]:
titanic.loc[titanic.age.idxmin()]

survived         1
pclass           3
sex           male
age           0.42
sibsp            0
parch            1
fare        8.5167
embarked         C
deck           NaN
Name: 803, dtype: object

## Sales data

In [77]:
dic = {"Mon":10, "Tue":25, "Wed":6, "Thu":36, "Fri":2, "Sat":0, "Sun":None}
dic

{'Mon': 10.4, 'Tue': 25, 'Wed': 6, 'Thu': 36, 'Fri': 2, 'Sat': 0, 'Sun': None}

In [70]:
sales = pd.Series(dic)
sales

Mon    10.0
Tue    25.0
Wed     6.0
Thu    36.0
Fri     2.0
Sat     0.0
Sun     NaN
dtype: float64

In [74]:
sales.sort_values(ascending=True).index[0]

'Sat'

In [75]:
sales.idxmin()

'Sat'

In [78]:
sales = pd.Series([23.3, 4.7, 13.6, 12.9, 9.0, 4.5, None, 13.5], index = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun', 'Mon'])

In [79]:
sales

Mon    23.3
Tue     4.7
Wed    13.6
Thu    12.9
Fri     9.0
Sat     4.5
Sun     NaN
Mon    13.5
dtype: float64

In [81]:
sales["Thu"] = 15

sales

Mon    23.3
Tue     4.7
Wed    13.6
Thu    15.0
Fri     9.0
Sat     4.5
Sun     NaN
Mon    13.5
dtype: float64

## Dollar to Euro

In [85]:
sales_EUR = (sales*1.2).round(3)
sales_EUR

Mon    27.96
Tue     5.64
Wed    16.32
Thu    18.00
Fri    10.80
Sat     5.40
Sun      NaN
Mon    16.20
dtype: float64

## titanic exercise

In [88]:
age = titanic.age
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64