In [2]:
import yfinance as yf

In [3]:
df = yf.download(["LU2090063327.SG"])

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['LU2090063327.SG']: YFPricesMissingError('$%ticker%: possibly delisted; no price data found  (1d 1926-01-27 -> 2025-01-02)')

In [4]:
df.head()

Empty DataFrame
Columns: [(Adj Close, LU2090063327.SG), (Close, LU2090063327.SG), (High, LU2090063327.SG), (Low, LU2090063327.SG), (Open, LU2090063327.SG), (Volume, LU2090063327.SG)]
Index: []

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11103 entries, 1980-12-12 to 2024-12-27
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  11103 non-null  float64
 1   (Adj Close, MSFT)  9777 non-null   float64
 2   (Close, AAPL)      11103 non-null  float64
 3   (Close, MSFT)      9777 non-null   float64
 4   (High, AAPL)       11103 non-null  float64
 5   (High, MSFT)       9777 non-null   float64
 6   (Low, AAPL)        11103 non-null  float64
 7   (Low, MSFT)        9777 non-null   float64
 8   (Open, AAPL)       11103 non-null  float64
 9   (Open, MSFT)       9777 non-null   float64
 10  (Volume, AAPL)     11103 non-null  int64
 11  (Volume, MSFT)     9777 non-null   float64
dtypes: float64(11), int64(1)
memory usage: 1.1 MB

In [5]:
df.columns

MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close', 'MSFT'),
            (    'Close', 'AAPL'),
            (    'Close', 'MSFT'),
            (     'High', 'AAPL'),
            (     'High', 'MSFT'),
            (      'Low', 'AAPL'),
            (      'Low', 'MSFT'),
            (     'Open', 'AAPL'),
            (     'Open', 'MSFT'),
            (   'Volume', 'AAPL'),
            (   'Volume', 'MSFT')],
           names=['Price', 'Ticker'])

In [6]:
df.Close[df.Close.MSFT.notna()]

Ticker            AAPL        MSFT
Date
1986-03-13    0.110491    0.097222
1986-03-14    0.116629    0.100694
1986-03-17    0.116071    0.102431
1986-03-18    0.119978    0.099826
1986-03-19    0.118304    0.098090
...                ...         ...
2024-12-20  254.490005  436.600006
2024-12-23  255.270004  435.250000
2024-12-24  258.200012  439.329987
2024-12-26  259.019989  438.109985
2024-12-27  255.589996  430.529999

[9777 rows x 2 columns]